<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="org.reallyenglish.appsee" version="0.1.0">
  <name>Appsee</name>
  <description>Reallyenglish Appsee</description>
  <license>Apache 2.0</license>
  <keywords>reallyenglish,appsee</keywords>
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
  <js-module src="www/Appsee.js" name="Appsee">
    <clobbers target="plugins.appsee" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Appsee">
        <param name="ios-package" value="Appsee"/>
      </feature>
    </config-file>

    <header-file src="src/ios/Appsee.h" />
    <source-file src="src/ios/Appsee.m" />

    <framework src="AVFoundation.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="CoreMedia.framework" />
    <framework src="CoreVideo.framework" />
    <framework src="QuartzCore.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="src/ios/framework/Appsee.framework" />

  </platform> 
</plugin>
