<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="org.reallyenglish.appsee"
        version="1.1.0">

  <name>Appsee</name>
  <description>Reallyenglish Appsee</description>
  <author>Lkhagva Ochirkhuyag</author>
  <license>Apache 2.0</license>
  <keywords>reallyenglish,appsee</keywords>
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
  <js-module src="www/Appsee.js" name="Appsee">
    <clobbers target="plugins.appsee" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Appsee">
        <param name="ios-package" value="CDVAppsee"/>
      </feature>
    </config-file>

    <header-file src="src/ios/CDVAppsee.h" />
    <source-file src="src/ios/CDVAppsee.m" />

    <framework src="AVFoundation.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="CoreMedia.framework" />
    <framework src="CoreVideo.framework" />
    <framework src="QuartzCore.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="src/ios/framework/Appsee.framework" custom="true"/>

  </platform>

  <platform name="android">
    <config-file target="config.xml" parent="/*">
      <feature name="Appsee">
        <param name="android-package" value="org.reallyenglish.cordova.AppseePlugin"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <service android:name="com.appsee.AppseeBackgroundUploader" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.READ_LOGS" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.INTERNET" />
    </config-file>

    <source-file src="src/android/appsee.jar" target-dir="libs" framework="true" />
    <source-file src="src/android/AppseePlugin.java" target-dir="src/org/reallyenglish/cordova" custom="true" />
  </platform>
</plugin>
